.container {
    /* height: 400px; */
    width: 800px;
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content h1 {
    margin-top: 300px;
}

.content p {
    margin-top: 40px;
}