@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-semibold {
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.source-sans-3-light {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.source-sans-3-regular {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-semibold {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.source-sans-3-bold {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-style: normal;
}